#home{
    overflow-y: hidden;
    padding: 0;
}

.img-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

.gradient-hero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, var(--primary-clr) 0%, rgba(27, 27, 27, 0) 50%, var(--primary-clr) 100%);
}

.intro{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: var(--gutter-width);
    width: min-content;
}

.uppercase{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18px;
}